 body {
      font-family: "Arial", sans-serif;
      margin: 40px;
    }
    table {
      width: 100%;
      border-collapse: collapse;
      margin-bottom: 20px;
    }
    th,
    td {
      border: 1px solid #dddddd;
      text-align: left;
      padding: 8px;
    }
    th {
      background-color: #f2f2f2;
    }
    tr:nth-child(even) {
      background-color: #f9f9f9;
    }
    a {
      color: #337ab7;
      text-decoration: none;
    }
    a:hover {
      text-decoration: underline;
    }
    ul {
      list-style: none;
      padding: 0;
    }
    li {
      display: inline;
      margin-right: 5px;
    }
    li a.active {
      font-weight: bold;
      text-decoration: underline;
    }
    .write-link {
      display: block;
      text-align: center;
      margin-top: 20px;
    }

    .form-container {
              width: 300px;
              margin: auto;
              padding: 20px;
              border: 1px solid #ccc;
              border-radius: 5px;
              background-color: #f8f8f8;
            }

label,
input,
textarea {
  display: block;
  width: 100%;
  margin-bottom: 10px;
}
textarea {
  height: 200px;
}
input[type="submit"] {
  padding: 10px;
  background-color: #4caf50;
  color: white;
  border: none;
  cursor: pointer;
}
input[type="submit"]:hover {
  background-color: #45a049;
}